@model IEnumerable<SistemaSeguros.Poliza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipos de Pólizas</h2>

@*<p>
    @Html.ActionLink("Crear Nuevo Tipo", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th>
            Tipo Riesgo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRiesgo.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Poliza })
            @*@Html.ActionLink("Details", "Details", new { id=item.ID_Poliza }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Poliza })*@
        </td>
    </tr>
}

</table>
