@model IEnumerable<SistemaSeguros.PolizaPorCliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Pólizas de: @ViewBag.idCliente - @ViewBag.NombreCompleto</h2>

<p>
    @Html.ActionLink("Crear Póliza", "Create", new {id=ViewBag.idCliente, nombreCompleto = ViewBag.nombreCompleto })
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Fecha Inicio Póliza
        </th>
        <th>
            Meses Cobertura
        </th>
        <th>
            Precio
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Poliza.Nombre)
    </td>
    <td>
        @Convert.ToDateTime(item.InicioVigenciaPoliza).ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MesesCobertura)
    </td>
    <td>
        @Convert.ToDouble(item.PrecioPolizaAdquirida).ToString("C2")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EstadoPoliza.Descripcion)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ID_PolizaCliente }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_PolizaCliente })
    </td>
</tr>
}

</table>

<div>
    @Html.ActionLink("Volver a Clientes", "Index", "Clientes")
</div>